<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "https://www.gravatar.com/avatar/610ab0b879a1b72baf3e57bd97497b4c?s=160" %>
  </div>
 
  <div id="content">
    <p>Pagina acerca de la aplicacion...</p>
  </div>
</div>
