<footer class="footer mt-auto py-4 d-flex flex-wrap justify-content-between align-items-center bg-body-tertiary">
    <div class="mx-4 col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0">JesusMarin.Dev • © {{ now.Year }} • <i class="bi bi-code-slash"></i> con <i class="bi bi-heart-fill"></i> por Jesus Marin</span>
    </div>

    <ul class="mx-4 nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" title="Github" href="https://github.com/jesusangelm"><i class="bi bi-github"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" title="Linkedin" href="https://www.linkedin.com/in/jesusangelm"><i class="bi bi-linkedin"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" title="Twitter" href="https://twitter.com/jesusangelm"><i class="bi bi-twitter"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" title="RSS" href="/index.xml"><i class="bi bi-rss-fill"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" title="Sitemap" href="/sitemap.xml"><i class="bi bi-diagram-3-fill"></i></a></li>
    </ul>
</footer>
