<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      {{- range .THead }}
        <tr>
          {{- range . }}
            <th>
              {{- .Text -}}
            </th>
          {{- end }}
        </tr>
      {{- end }}
    </thead>
    <tbody class="table-group-divider">
      {{- range .TBody }}
        <tr>
          {{- range . }}
            <td>
              {{- .Text -}}
            </td>
          {{- end }}
        </tr>
      {{- end }}
    </tbody>
  </table>
</div>
